
.photo {
    width: 90px;
    margin: 10px;
}

.selectedPage {
    font-weight: bold;
    font-size: 30px;
    padding: 8px;
}

.pages {
    margin-left:  600px;
    margin-top: 20px;
}