.app-wrapper {
  margin: 0 auto;
  width: 1400px;
  display: grid;
  grid-template-areas:
  "h h"
  "n c"
  "n c";


   grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;

}

.app-wrapper-content {
  grid-area: c;
  background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") ;
  border: 3px solid black;
}