.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
  
}

dialogsItems {
  text-decoration: none;
}

.dialog {
    padding: 10px;
    margin-left: 20px;
}

.dialog:hover {
    color: white;
    border: 1px solid white;
  }

.messages {
  padding: 10px;
    background-color:  rgba(177, 188, 250, 0.5);
  }



.avatar img {
    margin: 10px;
    width: 40px;
    border-radius: 30px;
}
